* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(12, 0, 0, 0.692);
  background-image: url("../../public/yt-background.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 55%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 680px) {
  body {
    background-size: 80%;
  }
}