.git
.venv
venv
env
__pycache__
*.py[cod]
*.sqlite3
.env
.env.*
video_downloader_api/.env
video_downloader_api/staticfiles
video_downloader_api/temp
youtube-cookies.txt
**/youtube-cookies.txt
cookies.txt
**/cookies.txt